body {
    margin: 0;
    overflow: hidden; /* Mencegah scrollbar */
    font-family: Arial, sans-serif;
}

#webgl-container {
    width: 100vw;
    height: 100vh;
    display: block;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: white;
}