body {
    margin: 0;
    overflow: hidden; /* Mencegah scrollbar */
    font-family: Arial, sans-serif;
}

#webgl-container {
    width: 100vw;
    height: 100vh;
    display: block;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

#instructions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: white;
}

#interaction-hint {
    position: absolute;
    bottom: 30px; /* Atau top, left, right sesuai keinginan */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    display: none; /* Sembunyikan secara default */
    z-index: 100; /* Pastikan di atas elemen lain */
    text-align: center;
}